.App {
  margin-top: 0px;
}

.App .navbar-brand {
  font-weight: bold;
  background-color: #0F9183;
}

.App .navbar {
  background-color: #0F9183;
  color: #0F9183;
}

.App .container{
  align-content: center
}

.App Button{
  background-color: #0F9183;

}



.leaflet-container {
  height: 300px;
  width: 100%;
}
